/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
   * Remove default margin.
   */
body {
  margin: 0; }

/* HTML5 display definitions
     ========================================================================== */
/**
   * Correct `block` display not defined for any HTML5 element in IE 8/9.
   * Correct `block` display not defined for `details` or `summary` in IE 10/11
   * and Firefox.
   * Correct `block` display not defined for `main` in IE 11.
   */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
   * 1. Correct `inline-block` display not defined in IE 8/9.
   * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
   */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
   * Prevent modern browsers from displaying `audio` without controls.
   * Remove excess height in iOS 5 devices.
   */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
   * Address `[hidden]` styling not present in IE 8/9/10.
   * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
   */
[hidden],
template {
  display: none; }

/* Links
     ========================================================================== */
/**
   * Remove the gray background color from active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * Improve readability when focused and also mouse hovered in all browsers.
   */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
     ========================================================================== */
/**
   * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
   */
abbr[title] {
  border-bottom: 1px dotted; }

/**
   * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
   */
b,
strong {
  font-weight: bold; }

/**
   * Address styling not present in Safari and Chrome.
   */
dfn {
  font-style: italic; }

/**
   * Address variable `h1` font-size and margin within `section` and `article`
   * contexts in Firefox 4+, Safari, and Chrome.
   */
h1 {
  margin: 0.67em 0;
  font-size: 2em; }

/**
   * Address styling not present in IE 8/9.
   */
mark {
  color: #000000;
  background: #ffff00; }

/**
   * Address inconsistent and variable font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` affecting `line-height` in all browsers.
   */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove border when inside `a` element in IE 8/9/10.
   */
img {
  border: 0; }

/**
   * Correct overflow not hidden in IE 9/10/11.
   */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
     ========================================================================== */
/**
   * Address margin not present in IE 8/9 and Safari.
   */
figure {
  margin: 1em 40px; }

/**
   * Address differences between Firefox and other browsers.
   */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
   * Contain overflow in all browsers.
   */
pre {
  overflow: auto; }

/**
   * Address odd `em`-unit font size rendering in all browsers.
   */
code,
kbd,
pre,
samp {
  font-size: 1em;
  font-family: monospace, monospace; }

/* Forms
     ========================================================================== */
/**
   * Known limitation: by default, Chrome and Safari on OS X allow very limited
   * styling of `select`, unless a `border` property is set.
   */
/**
   * 1. Correct color not being inherited.
   *    Known issue: affects color of disabled elements.
   * 2. Correct font properties not being inherited.
   * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
   */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  /* 3 */
  font: inherit;
  /* 2 */
  color: inherit;
  /* 1 */ }

/**
   * Address `overflow` set to `hidden` in IE 8/9/10/11.
   */
button {
  overflow: visible; }

/**
   * Address inconsistent `text-transform` inheritance for `button` and `select`.
   * All other form control elements do not inherit `text-transform` values.
   * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
   * Correct `select` style inheritance in Firefox.
   */
button,
select {
  text-transform: none; }

/**
   * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
   *    and `video` controls.
   * 2. Correct inability to style clickable `input` types in iOS.
   * 3. Improve usability and consistency of cursor style between image-type
   *    `input` and others.
   */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 3 */
  -webkit-appearance: button;
  /* 2 */ }

/**
   * Re-set default cursor for disabled elements.
   */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
   * Remove inner padding and border in Firefox 4+.
   */
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

/**
   * Address Firefox 4+ setting `line-height` on `input` using `!important` in
   * the UA stylesheet.
   */
input {
  line-height: normal; }

/**
   * It's recommended that you don't attempt to style these elements.
   * Firefox's implementation doesn't respect box-sizing, padding, or width.
   *
   * 1. Address box sizing set to `content-box` in IE 8/9/10.
   * 2. Remove excess padding in IE 8/9/10.
   */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Fix the cursor style for Chrome's increment/decrement buttons. For certain
   * `font-size` values of the `input`, it causes the cursor style of the
   * decrement button to change from `default` to `text`.
   */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
   * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
   *    (include `-moz` to future-proof).
   */
input[type="search"] {
  -webkit-box-sizing: content-box;
  /* 2 */
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
  /* 1 */ }

/**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * Define consistent border, margin, and padding.
   */
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
  border: 1px solid #c0c0c0; }

/**
   * 1. Correct `color` not being inherited in IE 8/9/10/11.
   * 2. Remove padding so people aren't caught out if they zero out fieldsets.
   */
legend {
  padding: 0;
  /* 2 */
  border: 0;
  /* 1 */ }

/**
   * Remove default vertical scrollbar in IE 8/9/10/11.
   */
textarea {
  overflow: auto; }

/**
   * Don't inherit the `font-weight` (applied by a rule above).
   * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
   */
optgroup {
  font-weight: bold; }

/* Tables
     ========================================================================== */
/**
   * Remove most spacing between table cells.
   */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  color: inherit;
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

/* roboto-regular - latin */
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Regular"), url(fonts/479970ffb74f2117317f9d24d9e317fe.woff2) format("woff2"); }

/* roboto-500 - latin */
@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"), url(fonts/020c97dc8e0463259c2f9df929bb0c69.woff2) format("woff2"); }

body {
  width: 1440px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #ffffff;
  background-color: #121212; }

.header {
  position: relative;
  margin: 0 40px; }

.header__welcome {
  margin: 35px auto;
  letter-spacing: 1.5px; }

.header__glitch {
  position: relative;
  width: 200px;
  margin: 0 auto;
  font-size: 40px;
  color: white;
  border: 1px solid white; }

@keyframes noise-anim {
  0% {
    clip: rect(98px, 9999px, 14px, 0); }
  5% {
    clip: rect(37px, 9999px, 43px, 0); }
  10% {
    clip: rect(19px, 9999px, 88px, 0); }
  15% {
    clip: rect(72px, 9999px, 86px, 0); }
  20% {
    clip: rect(9px, 9999px, 6px, 0); }
  25% {
    clip: rect(31px, 9999px, 18px, 0); }
  30% {
    clip: rect(86px, 9999px, 60px, 0); }
  35% {
    clip: rect(42px, 9999px, 13px, 0); }
  40% {
    clip: rect(100px, 9999px, 12px, 0); }
  45% {
    clip: rect(9px, 9999px, 93px, 0); }
  50% {
    clip: rect(93px, 9999px, 15px, 0); }
  55% {
    clip: rect(41px, 9999px, 98px, 0); }
  60% {
    clip: rect(72px, 9999px, 12px, 0); }
  65% {
    clip: rect(10px, 9999px, 85px, 0); }
  70% {
    clip: rect(73px, 9999px, 75px, 0); }
  75% {
    clip: rect(52px, 9999px, 74px, 0); }
  80% {
    clip: rect(59px, 9999px, 8px, 0); }
  85% {
    clip: rect(22px, 9999px, 42px, 0); }
  90% {
    clip: rect(57px, 9999px, 43px, 0); }
  95% {
    clip: rect(64px, 9999px, 30px, 0); }
  100% {
    clip: rect(19px, 9999px, 67px, 0); } }

.header__glitch:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: -3px;
  overflow: hidden;
  color: white;
  text-shadow: -1px 0 red;
  background: black;
  animation: noise-anim 2s infinite linear alternate-reverse;
  clip: rect(0, 900px, 0, 0); }

@keyframes noise-anim-2 {
  0% {
    clip: rect(56px, 9999px, 40px, 0); }
  5% {
    clip: rect(48px, 9999px, 66px, 0); }
  10% {
    clip: rect(100px, 9999px, 36px, 0); }
  15% {
    clip: rect(99px, 9999px, 49px, 0); }
  20% {
    clip: rect(51px, 9999px, 27px, 0); }
  25% {
    clip: rect(40px, 9999px, 14px, 0); }
  30% {
    clip: rect(22px, 9999px, 63px, 0); }
  35% {
    clip: rect(20px, 9999px, 76px, 0); }
  40% {
    clip: rect(94px, 9999px, 49px, 0); }
  45% {
    clip: rect(39px, 9999px, 40px, 0); }
  50% {
    clip: rect(76px, 9999px, 68px, 0); }
  55% {
    clip: rect(84px, 9999px, 65px, 0); }
  60% {
    clip: rect(55px, 9999px, 27px, 0); }
  65% {
    clip: rect(70px, 9999px, 6px, 0); }
  70% {
    clip: rect(10px, 9999px, 53px, 0); }
  75% {
    clip: rect(14px, 9999px, 74px, 0); }
  80% {
    clip: rect(70px, 9999px, 79px, 0); }
  85% {
    clip: rect(36px, 9999px, 67px, 0); }
  90% {
    clip: rect(27px, 9999px, 4px, 0); }
  95% {
    clip: rect(74px, 9999px, 92px, 0); }
  100% {
    clip: rect(11px, 9999px, 21px, 0); } }

.header__glitch:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: -2px;
  overflow: hidden;
  color: white;
  text-shadow: 1px 0 blue;
  background: black;
  animation: noise-anim-2 3s infinite linear alternate-reverse;
  clip: rect(0, 900px, 0, 0); }

.header__preview {
  max-width: 600px;
  max-height: 268px; }

.header__gif-box {
  display: flex;
  justify-content: center; }

.main {
  margin: 35px 40px; }

.footer {
  margin-top: 35px; }

.recomendations {
  display: flex;
  flex-direction: column; }

.recomendations__frame-container {
  margin-top: 20px; }

.main-information {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px; }

.main-information__functionality-descpition-list {
  margin: 20px 0;
  list-style-type: none;
  font-size: 24px;
  text-align: left; }

.main-information__description-text {
  margin: 20px auto;
  color: #ffffff; }

.recomendations__annotation {
  margin-bottom: 5px;
  font-size: 20px; }

.animation-previev__description {
  margin-bottom: 40px;
  font-size: 30px; }

footer {
  margin: 0 40px; }

.footer-information__tg-icon,
.footer-information__vk-icon,
.footer-information__github-icon {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 10px;
  background-image: url(images/giftg.gif);
  background-size: cover;
  border-radius: 50%; }

.footer-information__vk-icon {
  width: 40px;
  height: 40px;
  margin-left: 0;
  background-image: url(images/gifvk.gif); }

.footer-information__github-icon {
  width: 40px;
  width: 40px;
  background-image: url(images/octocat.gif); }

.footer-information {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto; }

